{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

  <script>
  /*
  function myFunction() {
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      if (td) {
        booleria = false;
        for (var j = 0; j < td.length; j++) {
          if(td[j].innerHTML.toUpperCase().indexOf(filter) > -1){
            booleria = true;
          }
        }
        if (booleria) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }*/
  $(document).ready( function () {
    $('#table').DataTable();
} );
  </script>

  <a href="/" class="btn btn-link">Home</a>
  <h1>{{ genre.name }}</h1>

  {{ chart.as_html }}

  <br>
  <table class="table table-hover" id="table">
    <thead>
      <tr>
        <th>Track Name</th>
        <th>Artist Name</th>
        <th>Album</th>
        <th>Track Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for track in object_list %}
      <tr>
        <td>{{track.name}}</td>
        <td>{{track.albumid.artistid.name}}</td>
        <td>{{track.albumid.title}}</td>
        <td>{{ track.miliseconds|intdiv:600|div:100 }} min.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
