<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/javascript" href="{% static 'music/js/bootstrap.js' %}">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
  </head>
  <body>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
