<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/javascript" href="{% static 'music/js/bootstrap.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
  </head>
  <body>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <footer class="panel panel-footer"></footer>
</html>
